* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
  overflow: none;
  background-image: linear-gradient(to right, #ba5370, #f0c9da);
  background-size: 400%;
  animation: bg-animation 10s infinite alternate;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: none;
}

.ticket {
  position: relative;
  transform-style: preserve-3d;
  display: flex;
  width: 37.5rem;
  height: 18.75rem;
  background-color: white;
  clip-path: path(
    "M 0 0 V 100 C 45 120, 45 180, 0 200 V 600 H 600 V 200 C 555 180, 555 120, 600 100 V 600 0"
  );
  -webkit-filter: drop-shadow(8px 2px 10px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(8px 2px 10px rgba(0, 0, 0, 0.3));
  cursor: pointer;
  overflow: hidden;
}

.ticket::after {
  content: "";
  top: 0;
  transform: translateX(100%);
  width: 37.5rem;
  height: 18.75rem;
  position: absolute;
  z-index: 1;
  animation: slide 7s infinite;

  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(50%, rgba(255, 255, 255, 0.8)),
    color-stop(99%, rgba(128, 186, 232, 0)),
    color-stop(100%, rgba(125, 185, 232, 0))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(128, 186, 232, 0) 99%,
    rgba(125, 185, 232, 0) 100%
  );
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(100%);
  }
}

.ticket-front {
  width: 70%;
  height: 100%;
  padding: 1.25rem 0rem 1.25rem 0rem;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.07rem dashed rgba(0, 0, 0, 0.63);
}

.ticket-back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.25rem;
  height: 18.75rem;
  background: radial-gradient(
    circle farthest-corner at right bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 254, 238, 0.63) 40%,
    rgb(255, 255, 255) 60%,
    rgba(241, 240, 231, 0.172) 80%,
    white 100%
  );
}

.back-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1rem 1rem;
  min-width: 18.75rem;
  height: 11.25rem;
  transform: rotate(-90deg);
}

.back-container h3 {
  text-align: center;
  font-size: 0.8rem;
}

.text-container {
  width: 21.5rem;
  height: 100%;
  border: 3px solid rgba(255, 255, 255, 0.39);
  border-radius: 5px;
  line-height: 5.5rem;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

.barcode {
  margin: 0 auto;
  font-family: "Bungee Hairline", cursive;
}

.numcontainer,
.linecontainer {
  display: flex;
  font-size: 0.6rem;
}

.linecontainer {
  margin: 0 auto;
}

.line {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.733);
  border: 0.09rem solid rgba(0, 0, 0, 0.733);
  margin-left: 0.15rem;
}

.line:nth-child(3n) {
  border: 0.13rem solid rgba(0, 0, 0, 0.808);
}
.line:nth-child(7n) {
  border: 0.15rem solid rgba(0, 0, 0, 0.808);
}

h1 {
  font-family: "Bungee Inline", cursive;
  font-size: 4.5rem;
  font-weight: 400;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.25)),
    to(#e6e6e6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:nth-of-type(2) {
  margin-bottom: 1rem;
}

h3 {
  font-family: "Bungee Hairline", cursive;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.25)),
    to(#e6e6e6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0;
  line-height: 1rem;
}

img {
  position: absolute;
  transform: scale(1.5%) rotate(-90deg) translate(-550rem, 880rem);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
